.progressContainer{
    margin: 16px 0;
}
.progressBar{
    width: 100%;
}

.progressItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title{
    color: #cacace;
    font-size: 14px;
}